<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <title>Editar Dados</title>
    <link rel="icon" href="/static/robot.png" />
  </head>

  <body>
    {% include 'navbar.html' %}
    <div
      class="d-flex align-items-center justify-content-center"
      style="height: 100vh"
    >
      <form
        method="POST"
        enctype="multipart/form-data"
        action="{{ url_for('edit_data', id=data[6]) }}"
        id="div_edit"
      >
        <div class="mb-3">
          <div class="d-flex">
            <input
              type="text"
              class="form-control"
              id="new_description"
              name="new_description"
              value="{{ data[0] }}"
            />

            <input
              type="text"
              class="form-control"
              id="new_quantity"
              name="new_quantity"
              value="{{ data[4] }}"
            />
          </div>
        </div>

        <div class="mb-3">
          <div class="d-flex">
            <input
              type="text"
              class="form-control"
              id="new_code"
              name="new_code"
              value="{{ data[2] }}"
            />

            <input
              type="text"
              class="form-control"
              id="new_price"
              name="new_price"
              value="{{ data[3] }}"
            />
          </div>
        </div>

        <div class="mb-3">
          <div class="d-flex">
            <input
              type="text"
              class="form-control"
              id="new_observation"
              name="new_observation"
              value="{{ data[1] }}"
            />

            <select
              name="new_category"
              class="form-control"
              id="new_category"
              value="{{ data[5] }}"
            >
              <option value="Tecnologia">Tecnologia</option>
              <option value="Moda">Moda</option>
              <option value="Casa E decoração">Casa e decoração</option>
              <option value="Alimentos e bebidas">Alimentos e bebidas</option>
              <option value="Saúde">Saúde</option>
              <option value="Automotivo">Automotivo</option>
              <option value="Esportes">Esportes</option>
            </select>
          </div>
        </div>
        <div class="mb-3">
          <div class="d-flex">
            <input
              type="file"
              name="new_photo"
              class="form-control"
              id="new_photo"
            />
          </div>
        </div>
        <button type="submit" id="edit_button" class="btn btn-outline-light">
          Salvar
        </button>
        <br />
        {% if error_message %}
        <div
          style="color: rgb(255, 255, 255)"
          class="d-flex justify-content-center"
        >
          {{ error_message }}
        </div>
        {% endif %}
      </form>
    </div>
  </body>
</html>
