<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <title>Cadastro</title>
    <link rel="icon" href="/static/robot.png" />
  </head>

  <body>
    {% include 'navbar.html' %}

    <div
      class="d-flex align-items-center justify-content-center"
      style="height: 100vh"
    >
      <form
        method="POST"
        action="/index"
        id="div_index"
        enctype="multipart/form-data"
      >
        <div class="mb-3">
          <div class="d-flex">
            <input
              type="text"
              name="description"
              placeholder="Descrição (Nome)"
              class="form-control"
              id="input_description"
              required
            />

            <input
              type="number"
              name="quantity"
              id="input_quantity"
              class="form-control"
              placeholder="Quantidade"
              min="0"
              required
            />
          </div>
        </div>

        <div class="mb-3">
          <div class="d-flex">
            <input
              type="number"
              name="code"
              placeholder="Código"
              class="form-control"
              id="input_code"
              min="0"
              required
            />
            <input
              type="text"
              name="price"
              placeholder="Preço"
              class="form-control"
              id="input_price"
              required
            />
          </div>
        </div>

        <div class="mb-3">
          <div class="d-flex">
            <input
              type="text"
              name="observation"
              placeholder="Observação"
              class="form-control"
              id="input_observation"
            />

            <select name="category" class="form-control" id="input_category">
              <option value="Tecnologia">Tecnologia</option>
              <option value="Moda">Moda</option>
              <option value="Casa E decoração">Casa e decoração</option>
              <option value="Alimentos e bebidas">Alimentos e bebidas</option>
              <option value="Saúde">Saúde</option>
              <option value="Automotivo">Automotivo</option>
              <option value="Esportes">Esportes</option>
              <option value="Limpeza">Limpeza</option>
            </select>
          </div>
        </div>
        <div class="mb-3">
          <div class="d-flex">
            <input
              type="file"
              name="photo"
              class="form-control"
              id="input_photo"
            />
          </div>
        </div>

        <div class="d-flex justify-content-center">
          <button type="submit" id="save_button" class="btn btn-outline-light">
            Salvar
          </button>
        </div>
        <br />
        {% if error_message %}
        <div
          style="color: rgb(255, 255, 255)"
          class="d-flex justify-content-center"
        >
          {{ error_message }}
        </div>
        {% endif %}
      </form>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
